@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        #243545,
        #243545 var(--line-offset),
        #ff7043 calc(var(--line-offset)),
        #ff7043 calc(var(--line-offset) + 5px),
        #dedede calc(var(--line-offset) + 5px)
    );
    width: 100vw;
    height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    color: #666;

    --menu-item-size: 50px;
    --green-color: #329680;
    --blue-color: #099c95;
    --dark-green-color: #175b52;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --container-height: 450px;
    --line-offset: 150px;
    /* --line-offset: calc((100% - var(--container-height))/ 2 + var(--menu-item-size) + 0.6em); */
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-rows: minmax(var(--line-offset), auto);
    align-items: center;
}

h1 {
    color: var(--white-color);
    /* color: var(--green-color); */
    font-size: 3em;
    text-shadow: -5px -5px 0px var(--green-color), 
        0px -5px 0px var(--green-color),
        5px -5px 0px var(--green-color),
        5px -5px 0px var(--green-color), 
        5px 0px 0px var(--green-color),
        5px -5px 0px var(--green-color),
        -5px 5px 0px var(--green-color), 
        0px 5px 0px var(--green-color),
        5px 5px 0px var(--green-color);
}

@media (min-width: 1000px) {
    .container {
        width: 60vw;
    }
}    

@media (max-width: 999px) and (min-width: 800px) {
    .container {
        width: 70vw;
    }
}    

@media (max-width: 799px) {
    .container {
        width: 90vw;
    }
}  

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em
}

article {
    box-sizing: border-box;
    height: var(--container-height);
    background-color: var(--white-color);
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 5px 5px 5px #CCC;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-star; */
    align-items: center;
}

article h2 {
    margin: 0.5em 0 0 0;
}

article img {
    height: 160px;
    width: auto;
}